.rbx-header {
    position: relative !important;
    height: 400px !important;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 20px !important;
    border: none !important;
    /*box-shadow: 0px 0px 10px black;*/
    transition: 0.1s box-shadow ease;
    background-color: #141318 !important;
}

/* disable roblox UI */

h1 {
    display: none;
}

.age-bracket-label {
    display: none !important;
}

.btn-navigation-nav-settings-md {
    display: none !important;
}

.profile-ads-container,
.abp {
    display: none !important;
}

.rbx-navbar-header,
.navbar-header {
    display: none !important;
}

.col-md-5 {
    display: none !important;
}

.navbar-brand {
    margin-left: 10px !important;
}

.navbar-right {
    margin-right: 5px !important;
}

.navbar-search {
    background-color: transparent !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}



.form-control {
    border-radius: 99px !important;
    background-color: transparent !important;
}

.home-container {
    float: none !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}

.container-main {
    margin-top: 5px !important;
}

.robloxify-sidebar {
    width: 50px;
    height: 95%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1030;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #141318;
    border-radius: 10px;

    display: block;
    overflow: hidden;
}

.robloxify-sidebar-background {
    width: 100%;
    height: 100%;

    position: absolute; 
    top: 0;
    left: 0; 
}

.robloxify-sidebar-container1 {
    width: 100%;
    height: 80%;

    position: absolute; 
    top: 0;
    left: 0; 

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.robloxify-sidebar-container2 {
    width: 100%;
    height: 20%;

    position: absolute; 
    bottom: 0;
    left: 0; 

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.robloxify-sidebar-button {
    width: 19px;
    height: 19px;
    z-index: 1032;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    transition: transform 0.1s ease;
}

.robloxify-sidebar-button:hover {
    transform: scale(1.2);
}

.robloxify-sidebar-image {
    width: 95%;
    height: 95%;
}

.dark-theme,
.content {
    background-color: #464646 !important;
}

.robloxify-sidebar-separator {
    width: 45%;
    height: 1px;
    border: none;
    background-color: rgb(41, 41, 41);
    margin-top: 15px;
    margin-bottom: 4px;
}

.robloxify-sidebar-title {
    font-size: 8px !important;
    font-weight: 600 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: rgb(83, 83, 83);
    height: 15px;
}

.robloxify-sidebar-topImage {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.robloxify-sidebar-img-container {
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 0px;
}

.robloxify-sidebar-img,
.robloxify-sidebar-img-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.robloxify-sidebar-img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    z-index: 2;
}

.robloxify-sidebar-img-effect {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    z-index: 1;
    display: none;
}

.little-thing {
    margin-bottom: 0;
    margin-top: 5px;
    width: 33.44px;
    height: 12px;
}

.active-players-container {
    position: relative;
    top: 3px;
    left: 3px;
    
    height: 23px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 100px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 5px;

    display: none;
}

.active-players-paragraph {
    height: 18px;
    width: 50px;
    color: white !important;
    font-size: 12px !important;
    font-family: sans-serif;
    
    margin-right: 10px;
    margin-left: 18px;
    font-weight: 500 !important;
}

.active-players-image {
    width: 15px !important;
    height: 15px !important;
}

.game-card-info {
    display: none !important;
}

.content {
    max-width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.robloxify-sidebar-slider {
    position: absolute;
    top: 0%;
    left: 0;
    height: 23px;
    width: 3px;
}

.rbx-text-navbar-right {
    color: #C2AE74 !important;
}

.robloxify-header-container {
    width: 100% !important;
    height: 65% !important;
    top: 0;
}

.robloxify-header-background {
    position: absolute;
    width: 100% !important;
    height: 65% !important;
    z-index: 1;
}

.container-fluid {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.robloxify-information-container {
    width: 180px;
    height: 60px;
    
    bottom: 36%;
    right: 5px;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.robloxify-information-block {
    height: 55px;
    width: 55px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robloxify-information-value {
    width: 90%;
    height: 30%;
    padding: 0 !important;
    color: white !important;
    font-size: 18px !important;
    text-align: center;

    font-weight: 700 !important;
    margin: 0 !important;
    margin-bottom: 4px !important;
}

.robloxify-information-title {
    width: 90% !important;
    height: 30% !important;
    text-align: center;
    padding: 0 !important;
    color: white;
    font-size: 60% !important;
    margin: 0 !important;
}

.navbar-icon-item {
    top: 70% !important; 
}

.robloxify-player-info-container {
    position: absolute;
    width: 20%;
    height: 50%;
    background-color: #0F0E13;
    z-index: 4;
    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);
    display: none;
}
